@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  #root {
    font-size: 62.5%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  body {
    font-size: 1rem;
    line-height: 1.1;
    
    /* height: 100%;  */
    /* width: 100%; */
    font-family: 'Montserrat', sans-serif;
    @apply text-gray-400 bg-primary-500;
  }
}

@layer utilities {
  .layout {
    display: grid;
    grid-template-columns:
      [full-start]minmax(2rem, 1fr)
      [center-start]repeat(
        8,
        [col-start] minmax(min-content, 12.5rem) [col-end]
      )
      [center-end]
      minmax(2rem, 1fr) [full-end]
    ;

    padding: 2rem 2rem;
  }
  
  .layout--main {
    grid-column: center-start / center-end;
    grid-row: 1 / 2;
    @apply h-screen flex flex-col items-start justify-center
  }
  
  .navbar--layout {
    @apply px-8 py-6 flex-between flex items-center
  }
  
  .flex-between {
    @apply flex justify-between items-center
  }
  
  .layout--section{
    grid-column: center-start / center-end;

    @apply py-[6rem]
  }
  
  .layout--projects {
    grid-column: center-start / 10;

    @apply py-[6rem]
  }
  
  .layout--aboutme-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 5rem;
  }
  
  .styled-jobs-btns {
    display: flex;
    overflow-x: auto;
    width: calc(100% + 10rem); 
    @apply mb-14 md:flex-col md:mr-14 
  }
  
  @media screen and (min-width: 768px) {
    .layout {
      grid-template-columns:
        [sidebar1-start] 10rem
        [sidebar1-end full-start]minmax(2rem, 1fr)
        [center-start]repeat(
          8,
          [col-start] minmax(min-content, 12.5rem) [col-end]
        )
        [center-end]
        minmax(2rem, 1fr) [full-end sidebar2-start]
        10rem[sidebar2-end]
        ;
    }
  }
}

@layer components {
  .navbar {
    @apply fixed top-0 left-0 right-0 z-40 bg-primary-500; 
  }

  .logo {
    @apply text-secondary-500 text-3xl rounded-full border-secondary-500 border-solid 
    border-2 p-4;
  }
    
  .nav-link__text--active {
    @apply after:translate-x-0; 
  }
  
  .nav-link__num {
    @apply text-secondary-500 mr-3
  }
  
  .sudo-img-before {
    @apply before:block before:absolute before:h-full before:w-full before:border-2 before:border-secondary-500 before:top-[14px] before:left-[14px] before:-z-50 before:rounded-lg hover:before:top-[10px] hover:before:left-[10px] before:transition-all before:duration-150 before:ease-out ; 
  }
  
  .sudo-img-after {
    @apply after:absolute after:h-full after:w-full after:top-0 after:bottom-0 after:left-0 after:right-0 after:bg-secondary-200/30 hover:after:hidden; 
  }
}
